* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    border: none;
}

.container {
    border: 2px solid black;
    height: 960px;
    width: 960px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 20px;
}

.row {
    display: flex;
    flex-direction: row;
    flex: 1;
}

.square {
    flex: 1;
}

.mouseover {
    background-color: aquamarine;
}

button {
    border: 1px solid black;
    margin: 20px;
    padding: 10px;
}